.chat-user{
    height: 100%;
}
.user-layout{
    height: 100%;
}
.userinfo-btn-send{
    background: #CDB380;
    color: #fff;
    border-color: transparent;
    border-radius: 5px;
    font-size: 12px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
}