<div class="message">
    <nz-layout class="message-layout">
        <nz-sider class="message-leftmenu">
          <nz-header>
              <nz-input-group [nzPrefix]="suffixTemplate" nzSize="small">
                  <!-- <input nz-input  placeholder="搜索" [(ngModel)]="searchValue" style="height: 28px;border-radius: 14px;"> -->
                </nz-input-group>
                <ng-template #suffixTemplate>
                  <i
                  nz-icon
                  class="ant-input-clear-icon"
                  type="search"
                  ></i>
                </ng-template>
          </nz-header>
          <nz-content>
            <div class="message-list">
              <div class="message-item">
                <div class="message-logo">杨</div>
                <div class="message-body">
                  <p class="message-people">杨蒙超<span class="message-time">20:46</span></p>
                  <p class="message-content">走</p>
                </div>
              </div>
            </div>
          </nz-content>
        </nz-sider>
        <nz-content>
          <div class="gossip">
            <div class="gossip-header"></div>
            <div class="gossip-record">
              <app-chat-record></app-chat-record>
            </div>
            <div class="gossip-content">
              <app-chat-content></app-chat-content>
            </div>
          </div>
        </nz-content>
      </nz-layout>
</div>
