<div class="pageContainer" #pageContainer>
    <div class="loadmoreTop" [ngStyle]="{'padding-top':this.reachToppadding+'px'}">
        <nz-spin class="topLoading" nzSimple *ngIf="isTopLoading"></nz-spin>
    </div>
    <ng-content></ng-content>
    <!-- <div *ngFor="let item of items">{{item['id']}}---{{item['name']}}</div> -->
    <div class="loadmoreBottom" [ngStyle]="{'padding-bottom': this.reachBottompadding+'px'}">
        <nz-spin class="bottomLoading" nzSimple *ngIf="isBottomLoading"></nz-spin>
    </div>
</div>