.wrapper {
  display: flex;
  justify-content: space-between;
  }
  .example-box {
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    background: white;
    font-size: 14px;
}
.example-list {
  max-width: 100%;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}
.wrapper{
  display: flex;
}
.example-item{
  margin: 20px;
  width: 100px;
  height:30px;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.87);
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.group-handle{
  margin: 20px;
  display: flex;
  justify-content: flex-end;
  cursor: move;
}
/* .demo1{
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  background-color: lightblue;
  transition: left 2s cubic-bezier(0, 0, 0.2, 1);
} */