<button nz-button nzType="default" nzShape="circle" (click)="showChatModal()"><i nz-icon nzType="wechat" nzTheme="outline"></i></button>
<nz-modal 
[(nzVisible)]="isChatModalVisible" 
[nzTitle]="null"
[nzFooter]="null"
(nzOnCancel)="handleChatModalCancel()" 
(nzOnOk)="handleChatModalOk()"
class="chat-modal">
  <nz-layout class="chat-modal-layout">
    <nz-sider class="chat-modal-sider" [nzWidth]="60">
      <div class="chat-leftmenu">
          <div class="chat-leftmenu-logo"></div>
          <div class="chat-leftmenu-btn"><a routerLink="/message"><i nz-icon nzType="message" nzTheme="outline"></i></a></div>
          <div class="chat-leftmenu-btn"><a routerLink="/user"><i nz-icon nzType="user" nzTheme="outline"></i></a></div>
      </div>
    </nz-sider>
    <nz-content class="chat-modal-content">
      <div class="chat-modal-body">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-modal>