<!-- <app-chat-modal></app-chat-modal> -->

<!-- <nav>
  <a routerLink="/demo3/demo7" routerLinkActive="active">demo3</a>
  <a routerLink="/demo4" routerLinkActive="active">demo4</a>
  <a routerLink="/demo5" routerLinkActive="active">demo5</a>
</nav>
<div class="changeModal">
    <router-outlet></router-outlet>
</div> -->
<!-- <app-demo2></app-demo2> -->
<!-- <div class="example-box" cdkDrag>
    Drag me around
  </div> -->
  <!-- <app-demo3></app-demo3> -->
  <!-- <app-demo4></app-demo4> -->
  <!-- <app-demo5></app-demo5> -->
  <!-- <app-demo6></app-demo6> -->
  <!-- <app-demo7></app-demo7> -->
  <!-- <app-squire-seclet
  [containerClass]="'container'"
  [containerBodyClass]="'body'"
  [selectClass]="'select'"
  [lineClass] = "'line'"
  >
  <div class="child" *ngFor="let item of squareArray">{{item}}</div>
</app-squire-seclet> -->
  <!-- <app-demo8></app-demo8> -->
  <!-- <app-demo9 [listheight]="listheight" [listitemheight]="listitemheight"></app-demo9> -->
  <!-- <div style="width: 200px;height: 250px">
      <app-demo10 [doMoreData]="doMoreData" 
      (pageIndexChange)="pageIndexChange($event)"
      (getres)="getres($event)"
      >
          <div *ngFor="let item of items">{{item['id']}}---{{item['name']}}</div>
      </app-demo10>
  </div> -->
  
  <!-- <app-demo11 [(demo1)]="demo1" [demo3]="demo3"></app-demo11>
  <button (click)="demo2()">click</button> -->
  <!-- <app-demo12></app-demo12> -->
  <app-drag-group></app-drag-group>
  <!-- <app-demo13></app-demo13> -->
