.line{
    border:1px solid #000;
    position: absolute;
    background: lightblue;
}
.select{
    background: lightgoldenrodyellow !important;
}
.container{
    width: 800px;
    height: 800px;
    background: #ccc;
    /* margin: 20px 30px; */
    /* padding: 20px 20px; */
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.body{
    display: flex;
    flex-wrap: wrap;
}

.child{
    width: 100px;
    height: 100px;
    background: lightcoral;
    margin: 10px;
}
.line{
    border:1px solid #000;
    position: absolute;
    background: lightblue;
}