/* You can add global styles to this file, and also import other style files */
/* .chat-modal{

} */
@import "./assets/select.css";
@import '~@angular/cdk/overlay-prebuilt.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "~ng-zorro-antd/spin/style/index.min.css";  */
.chat-modal .ant-modal-body{
    padding: 0;
    height: 500px;
}
.chat-modal-layout{
    height: 100%;
    background: white;
}
.chat-left-btn-message{
    background: transparent;
    border: 0;
    color: white;
    font-size: 20px;
}
.chat-left-btn-user{
    background: transparent;
    border: 0;
    color: white;
    font-size: 20px;

}
.chat-modal-leftmenu.ant-layout-sider{
    background: #142D40;
}
.message-leftmenu.ant-layout-sider{
    background: #e5e5e5;
}
.message-leftmenu .ant-layout-header{
    background: #e5e5e5;
}
.user-leftmenu.ant-layout-sider{
    background: #e5e5e5;
}
.user-leftmenu .ant-layout-header{
    background: #e5e5e5;
}


/* in-flight clone */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
    
  }
  .gu-mirror.example-list{
    box-shadow : 0  5px  5px -3px  rgba(0, 0, 0, 0.2),
                0  8px  10px  1px  rgba(0, 0 , 0, 0.14),
                0  3px  14px  2px  rgba(0, 0, 0, 0.12);
    transition: left 250ms cubic-bezier(0, 0, 0.2, 1);
    transition: top 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  /* high-performance display:none; helper */
  .gu-hide {
    left: -9999px !important;
    transition: left 250ms cubic-bezier(0, 0, 0.2, 1);
    transition: top 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  /* added to mirrorContainer (default = body) while dragging */
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    
  }
  /* added to the source element while its mirror is dragged */
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    transition: left 250ms cubic-bezier(0, 0, 0.2, 1);
    transition: top 250ms cubic-bezier(0, 0, 0.2, 1);
  }